.post-create-container {
	width: 600px;
	margin: 0 auto;
	border: 1px solid #ccc;
}
.post{
	width: 500px;
	border: 1px solid #ccc;
	background-color: #fff;
	margin:0 0 20px 0;
}
.post-title {
	font-size: 24px;
	font-weight: bold;
}

.post-content-create {
	font-size: 16px;
	margin-top: 10px;
}

.hidden {
	display: none;
}

/* CSS cho giao diện bài viết */
.post-container {
	width: 500px;
	min-width: 500px;
	border: 1px solid #ccc;
	margin: 20px auto;
	background-color: #fff;
	overflow: hidden;
}

/* CSS cho hình đại diện và tên người đăng */
.user-info {
	display: flex;
	align-items: center;
}

.user-avatar {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	margin-right: 10px;
}

.user-name {
	font-weight: bold;
}

/* CSS cho nội dung bài viết */
.post-content {
	margin-top: 10px;
}

/* CSS cho hình ảnh trong bài viết */
.post-image {
	max-width: 100%;
	height: auto;
}

/* CSS cho phần bình luận */
.comment {
	margin-top: 10px;
	padding: 5px;
	border-top: 1px solid #ccc;
}

/* CSS cho nút Like, Comment, Share */
.post-actions {
	margin-top: 10px;
	display: flex;
	justify-content: space-between;
}

.action-button {
	padding: 5px 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	cursor: pointer;
}